.rule-container {
    max-height: 600px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid rgb(180, 180, 180);
    color: 'blue';
    padding: 20px;
    overflow-y: scroll;
}

.rule-container-add-group {
    color: #61dafb;
    padding: 10px;
}

.add-group-btn {
    width: 100%;
    padding: 10px;
}

.rule-condition-group {
    border-radius: 3px;
    border: 1px solid rgb(220, 220, 220);
    color: rgb(80, 80, 80);
    min-height: 80px;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}

.rule-condition-item {
    border-radius: 3px;
    /* border: 1px solid rgb(220, 220, 220); */
    color: rgb(80, 80, 80);
    margin:3px;
    padding:5px;
    text-align: left;
    font-size: 10pt;
}

.rule-tree {
    border-radius: 3px;
    min-height: 500px;
    border: 1px solid rgb(180, 180, 180);
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}